<strong>Olá, {{ student }}</strong>
<p>Seja Bem vindo ao <strong>GymPoint</strong>, confira os detalhes de sua matrícula abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ student }} <br>
  <strong>Plano: </strong> {{ plan }} <br>
  <strong>Preço: </strong> {{ price }} <br>
  <strong>Data de término: </strong> {{ date_end }} <br>
  <br />
  <small>
    Obrigado por fazer parte da <strong>GymPoint</strong>.
  </small>
</p>
